@using LMS.Resources
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        @Html.Partial("_LoginPartial")
        <li>
            @Html.ActionLink(Global.SidebarDashboard, "Index", "DashBoard")
        </li>
        <li>
            @Html.ActionLink(Global.SidedarHintedStatistics, "Index", "HintedStat")
        </li>
        <li>
            @Html.ActionLink(Global.SidebarLogsList, "Index", "Logs")
        </li>
        <li>
            @Html.ActionLink(Global.SidebarFeedbacksList, "Index", "Feedback")
        </li>
        <li>
            @Html.ActionLink(Global.SidebarApplicationsManagement, "Index", "Applications")
        </li>
        <li>
            @Html.ActionLink(Global.SidebarInjectLogFile, "Index", "InjectFile")
        </li>
        <li>
            @Html.ActionLink(Global.SidebarMyOwnExceptions, "Exceptions", "Exceptions")
        </li>
    </ul>
</nav>