@using aspnet_mvc_helpers
@using LMS.Resources
@model LMS.web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Account.ChangePassword;
}
@section scripts{
    @Html.JQueryVal()
    @Html.JavaScript("~/scripts/formbundle.js")
    @Html.TypeScript("~/Typescripts/ChangePassword.ts", true)
    <script>
        window.CurrentBasePage = new ChangePassword();
    </script>
}
@section wrapperbar{
    <h2>@ViewBag.Title</h2>
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal col-md-offset-2 col-md-8 well", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Account.ChangePasswordSave" class="btn btn-primary"/>
        </div>
    </div>
}
